@font-face {
    font-display: swap;
    font-family: CircularSp-Hebr;
    font-weight: 400;
    src: url(https://encore.scdn.co/fonts/CircularSp-Hebr-Book-414f88babad55bb44c9552d9b92504f7.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Hebr-Book-d8209975eafc81a9499df8401a339ddd.woff) format("woff");
    unicode-range: u+0000,u+000d,u+0020,u+0030-0039,u+00a0,u+00a4,u+00b6-00b7,u+01c4-01c6,u+01f1-01f3,u+02bb-02bc,u+05b0-05c4,u+05d0-05ea,u+05f0-05f4,u+200e-200f,u+20aa,u+fb2a-fb36,u+fb38-fb3c,u+fb3e,u+fb40-fb41,u+fb43-fb44,u+fb46-fb4f,u+ffff
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    font-family: 'CircularSp', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

div {
    color: white;
}

path {
    stroke: pink;
}

.wrapper {
    height: 100%;
    padding: 10% 0 0 0;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls #play-pause {
    /* margin-right: auto; */
}

.controls #backward {
    /* margin-right: auto; */
}

.controls #forward {
    margin-right: auto;
}

.controls label {
  margin-left: 10px;
}

.controls label span {
  display: block;
  text-align: center;
}

.disabled{
  opacity: 0.1;
  pointer-events: none;
}

input[type="range"] {
  width:250px;
}

#no-worklet {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

.playlist {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    .playlist-row{
        display: block;
        margin: 10px 0;
        width: 100%;
    }
}
.playlist-row:hover {
      text-decoration: underline;
}

/* webkit */

 input[type=range]{
    -webkit-appearance: none;
    width: 200px;
    display: block;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: pink;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* firefox */


input[type=range]::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: pink;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

#frequency-select {

}