*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    background-color: #eee;
}

.wrapper {
    height: 100%;
    padding: 10% 0 0 0;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls #play-pause {
    /* margin-right: auto; */
}

.controls #backward {
    /* margin-right: auto; */
}

.controls #forward {
    margin-right: auto;
}

.controls label {
  margin-left: 10px;
}

.controls label span {
  display: block;
  text-align: center;
}

.disabled{
  opacity: 0.1;
  pointer-events: none;
}


#no-worklet {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

.playlist {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    .playlist-row{
        display: block;
        margin: 10px 0;
        width: 100%;
    }
}
.playlist-row:hover {
      text-decoration: underline;
}
